body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 20px;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(128, 128, 128);
}

#display {
    width: 350px;
    height: 120px;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: rgb(239, 239, 239);
}

#result {
    text-align: end;
    font-weight: bold;
    font-size: 50px;
    margin-top: 50px;
    margin-right: 20px;
}

#reset {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

#buttons {
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    flex-wrap: wrap;
    width: 350px;
}

.button {
    width: 80px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
}

#clear {
    height: 40px;
    width: 170px;
    font-weight: bold;
    background-color: rgb(226, 116, 116);
}

#delete {
    height: 40px;
    width: 170px;
    font-weight: bold;
    background-color: rgb(75, 170, 199);
}